// colors
$background-color: #ecf0f3;
$white: #ffffff;
$black: #000000;
$color-shadow-1: #cbced1;
$color-shadow-2: #5f5f5f;
$color-shadow-3: #a7aaaf;

// .logo variables
$logo-dimen: 100px;

.login-div {
  //width: 430px;
  //height: $login-div-height;
  padding: 48px 28px 28px 28px;
  border-radius: 40px;
  background: $background-color;
  box-shadow: 13px 13px 20px $color-shadow-1,
    //bottom right
      -13px -13px 20px $white; //top left;
}

.logo {
  background-image: url("../../assets/yoreparto-logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: $logo-dimen;
  height: $logo-dimen;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: /* logo shadow */ 0px 0px 2px $color-shadow-2,
    /* offset */ 0px 0px 0px 5px $background-color,
    /* bottom right */ 8px 8px 15px $color-shadow-3,
    /* top left */ -8px -8px 15px $white;
}

.title {
  text-align: center;
  font-size: 20px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  font-weight: 900;
}

.sub-title {
  text-align: center;
  font-size: 14px;
  padding-top: 7px;
  letter-spacing: 3px;
  font-weight: 700;
  padding-bottom: 40px;
  border-bottom: 1px solid #cccccc;
}

.facebook-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  //margin-top: 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: $white;
  text-align: center;
  background-color: #2452cf;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px $white;
  transition: 0.5s;

  &:hover {
    background: #3664e0;
  }

  &:active {
    background: #294ba8;
  }
}

.fields {
  width: 100%;
  padding: 0px 5px 5px 5px;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: #555555;
  padding: 16px 8px 16px 3px;
}

.username,
.password {
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px $color-shadow-1, inset -8px -8px 8px $white;
}

.username {
  & input {
    width: 85%;
  }
}

.password {
  & input {
    width: 70%;
  }
}

.fields .svg-icon {
  height: 16px;
  width: 10%;
  margin-bottom: -3px;
  margin-left: 5%;
  //margin: 0 10px -3px 25px;
}

.svg-icon-eye {
  height: 24px;
  width: 10%;
  margin-bottom: -8px;
  margin-right: 5%;

  &:hover {
    fill: $black;
    cursor: pointer;
  }
}

.login-error {
  color: #cf2424;
  font-size: 14px;
}

.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: $white;
  text-align: center;
  background-color: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px $white;
  transition: 0.5s;

  &:hover {
    background: #2fdbb6;
  }

  &:active {
    background: #1da88a;
  }
}

.link {
  padding-top: 40px;
  text-align: center;

  & a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 15px;

    &:hover {
      color: #24cfaa;
    }
  }
}
